DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me"
NEXT_PUBLIC_SITE_NAME="SHOPMALLX"

# Cloudflare D1 (for production deployment & migrations)
CLOUDFLARE_ACCOUNT_ID="8dcf38404b9ad65e2466814fdc392e16"
CLOUDFLARE_DATABASE_ID="cc658e57-35aa-47b3-97fd-9316e38c78a4"